*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-color: rgb(255, 255, 255);
  --background-color: rgb(0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: var(--background-color);
}

h1 {
  /* text-align: center; */
  padding: 2rem;
  font-size: 5rem;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.xo {
  align-items: center;
}

.x,
.o {
  font-size: 3rem;
}

.x {
  color: rgb(0, 255, 247);
}

.o {
  color: greenyellow;
}

/* PLAYER DISPLAY */
.player-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.player-display {
  width: 25%;
  display: flex;
  justify-content: space-around;
  color: var(--main-color);
}

.player-name,
.winner-display {
  font-size: 2rem;
}

.edit-btn {
  border: none;
  background: transparent;
}

.edit-icon {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.form-input {
  padding: 0.75rem;
  width: 15rem;
  outline: none;
  border: 1px solid black;
  font: inherit;
}

.submit-btn,
.new-game-btn {
  color: white;
  border: 1px solid white;
  background-color: var(--background-color);
  padding: 0.5rem;
  border-radius: 5px;
}

/* GAMEBOARD */
.game-container {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  background-color: var(--background-color);
}

.gameboard {
  width: 45rem;
  height: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: transparent;
  border: 2px solid var(--main-color);
}

.cell {
  border: 2px solid var(--main-color);
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
  font-size: 8rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
}

.end-game-display {
  width: 45rem;
  height: 45rem;
  position: absolute;
  color: var(--main-color);
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid white;
  opacity: 0.9;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.winner-display {
  font-size: 4rem;
}

.new-game-btn {
  justify-self: center;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.fade {
  opacity: 0.3;
}
